<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</head>

<body>

    <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">{{ title }}</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                {% for item in navbar %}
                <li {% if item.active %}
                class="active"
                {% endif %}>
                <a href="{{item.link}}"><i class="{{item.class}}"></i> {{item.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ subtitle | raw }}
            </h1>
            <ol class="breadcrumb">
                {% for item in navbar %}
                {% if item.active %}
                {% if item.name != 'Dashboard' %}
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li class="active">
                    {% for item in navbar %}
                    {% if item.active %}
                    <i class="{{item.class}}"></i> {{item.name}}
                    {% endif %}
                    {% endfor %}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Forms -->
        <div class="row">
            <div class="col-lg-6">
                <h1> Single Address Validation </h1>
                <form  id="target">
                <p>
                    <fieldset class="form-group">
                        <label for="streetInput">Street</label>
                        <input type="text" class="form-control" id="streetInput" name="street" placeholder="Enter street">
                         </fieldset>
                    <fieldset class="form-group">
                        <label for="houseNumberInput">House number</label>
                        <input type="text" class="form-control" id="houseNumberInput" name="house_nr" placeholder="Enter house number">
                      </fieldset>
                    <fieldset class="form-group">
                        <label for="postalCodeInput">Postal code</label>
                        <input type="text" class="form-control" id="postalCodeInput" name="zip" placeholder="Enter postal code">
                      </fieldset>
                    <fieldset class="form-group">
                        <label for="cityInput">City</label>
                        <input type="text" class="form-control" id="cityInput" name="city" placeholder="Enter city">
                      </fieldset>
                </p>
                    <button  type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h1>Batch Address Validation</h1>
                <form id="filesend" enctype="multipart/form-data">
                <p>
                    <fieldset class="form-group">
                        <label for="fileInput">File input</label>
                        <input type="file" class="form-control-file" id="file">
                        <small class="text-muted">The Dataset File should be a CSV file of the following format:
                            'DE';'Street_Name';'House_Nr';'ZIP';'City' </small>
                    </fieldset>
                </p>
                </form>
                <div id="response"></div>
            </div>
            </div>
        <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div style="margin:50px;width:800px" id="modal_layer">
                Request created
                </div>
            </div>
        </div>
    </div>

<script>
    $( "#target" ).submit(function( event ) {
        event.preventDefault();
        $.post( "forms/add", $(this).serialize(),function( data ) {
            if( data.status == true ){
                $('#modal_layer').html(data.response);
                $('#myModal').modal('show');
            }else{
                $('#modal_layer').html("Error!");
                $('#myModal').modal('show');
            }
        }, "json" );
    });
</script>

    <script>
            jQuery('document').ready(function(){
                var input = document.getElementById("file");
                var formdata = false;
                if (window.FormData) {
                    formdata = new FormData();
                }
                input.addEventListener("change", function (evt) {
                    var i = 0, len = this.files.length, img, reader, file;

                    for ( ; i < len; i++ ) {
                        file = this.files[i];

                        if (!!file.type.match(/text.*/)) {
                            if ( window.FileReader ) {
                                reader = new FileReader();
                                reader.onloadend = function (e) {
                                    //showUploadedItem(e.target.result, file.fileName);
                                };
                                reader.readAsDataURL(file);
                            }

                            if (formdata) {
                                formdata.append("user_file", file);
                                formdata.append("extra",'extra-data');
                            }

                            if (formdata) {
                                jQuery('div#response').html('<br /><img src="/images/loader.gif"/>');

                                jQuery.ajax({
                                    url: "forms/addfile",
                                    type: "POST",
                                    data: formdata,
                                    processData: false,
                                    contentType: false,
                                    success: function (res) {
                                        jQuery('div#response').html("Successfully uploaded");
                                    }
                                });
                            }
                        }
                        else
                        {
                            alert('Not a vaild text file!');
                        }
                    }

                }, false);
            });
    </script>
</body>

</html>
