<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{{ title }}</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    {% for item in navbar %}
                    <li {% if item.active %}
                    class="active"
                    {% endif %}>
                    <a href="{{item.link}}"><i class="{{item.class}}"></i> {{item.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ subtitle | raw }}
                        </h1>
                        <ol class="breadcrumb">
                            {% for item in navbar %}
                            {% if item.active %}
                            {% if item.name != 'Dashboard' %}
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            <li class="active">
                                {% for item in navbar %}
                                {% if item.active %}
                                <i class="{{item.class}}"></i> {{item.name}}
                                {% endif %}
                                {% endfor %}
                            </li>
                        </ol>
                    </div>
                </div>



                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Requests</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>User</th>
                                    <th>Created</th>
                                    <th>Count</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for request_one in requests %}
                                    {% if request_one.status == 1 %}
                                    <tr class="danger request_table" id="request_{{ request_one.id }}">
                                    {% else %}
                                        <tr class="request_table" id="request_{{ request_one.id }}">
                                    {% endif %}
                                        <td>{{ request_one.id }}</td>
                                        <td>{{ request_one.user_id }}</td>
                                        <td>{{ request_one.create_date }}</td>
                                        <td>{{ request_one.count }}</td>
                                        <td>{{ request_one.status }}</td>
                                        <td>Delete</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h2>Requestinformation</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Count</th>
                                </tr>
                                </thead>
                                <tbody id="infotable">
                                <tr class="">
                                    <td>Request Id</td>
                                    <td>no info</td>
                                </tr>
                                <tr class="">
                                    <td>Count</td>
                                    <td>no info</td>
                                </tr>
                                <tr class="">
                                    <td>With Status</td>
                                    <td>no info</td>
                                </tr>
                                <tr class="">
                                    <td>With error</td>
                                    <td>no info</td>
                                </tr>
                                <tr class="">
                                    <td colspan="2">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 20%">
                                                20%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script>
        $('.request_table').click(function() {
            $.getJSON( "tables/getRequestInfo", { id: this.id } )
                    .done(function( json ) {
                        var info =
                        '<tr class="active">' +
                        '<td>Request Id</td>' +
                        '<td>' + json.id + '</td>' +
                        '</tr>' +
                        '<tr class="">' +
                        '<td>Count</td>' +
                        '<td>' + json.count + '</td>' +
                        '</tr>' +
                        '<tr class="">' +
                        '<td>With Status</td>' +
                        '<td>' + json.status + '</td>' +
                        '</tr>' +
                        '<tr class="">' +
                        '<td>With error</td>' +
                        '<td>' + json.error + '</td>' +
                        '</tr>' +
                        '<tr class="">' +
                        '<td colspan="2">' +
                        '<div class="progress">' +
                        '<div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 20%">' +
                        '20%' +
                        '</div>' +
                        '</div>' +
                        '</td>' +
                        '</tr>'
                        ;
                        $( "#infotable" ).html(info);
                    })
                    .fail(function( jqxhr, textStatus, error ) {
                        var err = textStatus + ", " + error;
                        console.log( "Request Failed: " + err );
                    });
        });

    </script>
</body>

</html>
