<html>
  <head>
      <title>{{ title }}</title>
      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      {{ socketio_js_path }}
      <script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
              {{ socketio_test }}
          });
      </script>
  </head>
  <body>
    <br> Test #1: Testing templates frameworks
    <br>
    {{ url }}
    {{ jslog }}
    <h1>{{ text }}</h1>
    <br>
    <h1>{{ test }}</h1>
    <br> Test #2: Testing the SocketIO
    <br>
    <pre>
        1) open terminal #1 and start the test server with SocketIO support 'bin/test_server.py'
        2) open terminal #2 and send simple request: test/test_json_request.sh
    </pre>
    {{ socketio_log }}
    <br> Test #3: Testing the AddressValidator_Client
    <br>
    <pre>
        1) open terminal #1 and start the address validator service 'bin/address_validation_service.py'
    </pre>
    <h1> Response: </h1>{{ addressvalidator_output }}
    <table border="1" cellpadding="2" cellspacing="0" style="margin-left:auto; margin-right:auto;">
        <tr  style="background-color:#CACACA;">
            <th align="center">Num</th>
            <th align="center">Status</th>
            <th align="center">last_provider</th>
            <th align="center">result_lat</th>
            <th align="center">result_lng</th>
            <th align="center">correct_address</th>
            <th align="center">error</th>
        </tr>
        {% for response in responses %}
        <tr style="background-color:#E6E6E6;">
            <td>{{ loop.index }}</td>
            <td>{{ response.status }}</td>
            <td>{{ response.last_provider }}</td>
            <td>{{ response.result_lat }}</td>
            <td>{{ response.result_lng }}</td>
            <td>{{ response.correct_address }}</td>
            <td>{{ response.error }}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
