<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>The project illustrates the Address Valdator Framework which utilizes 
                    Elastic OSM  database. 
                </p>
            </div>
            <div class="col-lg-4">
                <p> This web site has been built with help of the TinyMVC (MVC php framework), 
                    jQuery Javascript API,  Twig PHP template system,
                    MySQL database and Freelancer bootstrap template.
                </p>
            </div>
       
        </div>
    </div>
</section>