<!-- check Section -->
<section  id="check">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2> Single (Batch) Address Validation</h2>
                <hr class="star-primary">
            </div>
        </div>

        <!-- Forms -->
        <div class="row">
            <div class="col-lg-6">
                <form  id="target" novalidate>
                    <p>

                    <div class="row control-group">
                    <fieldset class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="streetInput">Street</label>
                        <input type="text" class="form-control" id="streetInput" name="street" placeholder="Enter street" required data-validation-required-message="Please enter the street">
                        <p class="help-block text-danger"></p>
                    </fieldset>
                    </div>
                    <div class="row control-group">
                    <fieldset class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="houseNumberInput">House number</label>
                        <input type="text" class="form-control" id="houseNumberInput" name="house_nr" placeholder="Enter house number" required data-validation-required-message="Please enter the house number">
                        <p class="help-block text-danger"></p>
                    </fieldset>
                    </div>
                    <div class="row control-group">
                    <fieldset class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="postalCodeInput">Postal code</label>
                        <input type="text" class="form-control" id="postalCodeInput" name="zip" placeholder="Enter postal code" required data-validation-required-message="Please enter the postal code">
                    </fieldset>
                    </div>
                    <div class="row control-group">
                        <fieldset class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="cityInput">City</label>
                        <input type="text" class="form-control" id="cityInput" name="city" placeholder="Enter city" required data-validation-required-message="Please enter the city">
                    </fieldset>
                    </div>
                    </p>
                    <button  type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-6">
                <form id="filesend" enctype="multipart/form-data">
                    <p>
                    <fieldset class="form-group">
                        <label for="file">File input</label>
                        <input type="file" class="form-control-file" id="file">
                        <small class="text-muted">The Dataset File should be a CSV file of the following format:
                            'DE';'Street_Name';'House_Nr';'ZIP';'City' </small>
                    </fieldset>
                    </p>
                </form>
                <progress></progress>
                <div id="response"></div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="margin:50px;width:800px" id="modal_layer">
                Request created
            </div>
        </div>
    </div>
</div>


