
<!-- Contact Section -->
<section id="daemon">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Activate  (Deactivate)  Daemon</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="controlDaemon" id="daemon" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Switch off?</label>
                                <input type="radio" id="sysdaemonInput" name="sysdaemon" value="ON" aria-label="..." >
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Action!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>