
<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-14 ">
                    <h3> {{ footer.title }}</h3>
                    {{ footer.text | raw  }}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Igor Marfin @2016
                </div>
            </div>
        </div>
    </div>
</footer>