<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="freelancer/img/profile.png"  alt="">
                <div class="intro-text">
                    <span class="name">{{header.title}}</span>
                    <hr class="star-light">
                    <span class="skills">{{ header.subtitle  }}</span>

                </div>
            </div>
        </div>
    </div>
</header>