<!-- tables Section -->
<section  id="tables">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2> Results</h2>
                <hr class="star-primary">
            </div>
        </div>

        <!-- tables -->
        <div class="row">
            <div class="col-lg-6">
                <h3>Requests</h3> <br>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Created</th>
                            <th>Count</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request_one in requests %}
                            {% if request_one.status == 1 %}
                            <tr class="danger request_table" id="request_{{ request_one.id }}">
                            {% else %}
                                <tr class="request_table" id="request_{{ request_one.id }}">
                            {% endif %}
                            <td>{{ request_one.id }}</td>
                            <td>{{ request_one.user_id }}</td>
                            <td>{{ request_one.create_date }}</td>
                            <td>{{ request_one.count }}</td>
                            <td>{{ request_one.status }}</td>
                            <td>Delete</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-26">
            <h3>Validated Addresses </h3> <br>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Request</th>
                        <th>Country</th>
                        <th>ZipCode</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>House Nr</th>
                        <th>Status</th>
                        <th>Last Provider</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Corrected Address</th>
                        <th>Error</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for address in addresses %}
                        {% if address.status == 1 %}
                        <tr class="danger request_table" id="request_{{ address.id }}">
                        {% else %}
                            <tr class="request_table" id="request_{{ address.id }}">
                        {% endif %}
                        <td>{{ address.id }}</td>
                        <td>{{ address.request_id }}</td>
                        <td>{{ address.country }}</td>
                        <td>{{ address.zip }}</td>
                        <td>{{ address.city }}</td>
                        <td>{{ address.street }}</td>
                        <td>{{ address.house_nr }}</td>
                        <td>{{ address.status }}</td>
                        <td>{{ address.last_provider }}</td>
                        <td>{{ address.latitude }}</td>
                        <td>{{ address.longitude }}</td>
                        <td>{{ address.correct_address }}</td>
                        <td>{{ address.error }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>

    </div>
</section>

