<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> On-fly Address Validator with OpenStreetMap</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="/static/leaflet.photon/leaflet.photon.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

<header>
    <span id="photon"> On-fly Address Validator with OpenStreetMap </span>
<!--    <img src="/static/img/photon_logo.png" id="logo"/>  -->

    <div id="slogan">search as you type with OpenStreetMap</div>
    <!--<div class="col third">-->
    <!--<a href="mailto:photon@komoot.de" class="button get-in-touch">Get in touch</a>-->
    <!--</div>-->
</header>

<div class="wrapper map-wrapper">
    <div class="col mywidth twide">
        <div class="map" id="map"></div>
    </div>
    <div class="col three-mywidth content twide" style="padding-top:15px; padding-bottom: 15px">
        <ul class="features">
            <li>Typeahead suggestion</li>
            <li>Fast</li>
            <li>Scalable</li>
            <li>Multilingual</li>
            <li>Typo tolerance</li>
            <li>Reverse geocoding</li>
            <li>Minutely up to date OSM data</li>
        </ul>
    </div>
</div>
<footer>
    An OpenStreetMap project run by Igor Marfin</a>
</footer>
<script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>
<script src="/static/leaflet.photon/leaflet.photon.js"></script> 
<script type="text/javascript">
    API_URL = '{{ API_URL }}';
    TILELAYER = '{{ TILELAYER }}';
    CENTER = {{ CENTER }};
    MAXZOOM = {{ MAXZOOM }};
</script>
<script src="/static/js/app.js"></script>
</body>
</html>
