<!doctype html>
<html ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <title> Tutorials on AngularJS: Service</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/angularjs/src/angular.min.js"></script>
    <script src="/static/angularjs/tutorial3/service.js"></script>

</head>

<body>
<header>
    <span id="photon"> Tutorials on AngularJS: Service  </span>
    <div id="slogan">check out AngularJS...</div>
</header>
<h2>Sample Application</h2>
<div ng-controller="CalcController as controller">
    <p>Enter a number: <input type = "number" ng-model = "number" /></p>
    <button ng-click = "square()">X<sup>2</sup></button>
    <br>
    <br>
    <p>Result: {[result]}</p>
</div>



<footer>
    An tutorial project run by Igor Marfin</a>
</footer>


</body>
</html>

