<!doctype html>
<html ng-app="todoApp">
<head>
    <meta charset="utf-8">
    <title> Tutorials on AngularJS: Controller</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
    <script src="/static/angularjs/src/angular.min.js"></script>
    <script src="/static/angularjs/tutorial2/todo.js"></script>
    <link rel="stylesheet" href="/static/angularjs/tutorial2/todo.css">
</head>

<body>
<header>
    <span id="photon"> Tutorials on AngularJS: Controller  </span>
    <div id="slogan">check out AngularJS...</div>
</header>
<h2>Todo</h2>

<div ng-controller="TodoListController as todoList">
    <span>{[todoList.remaining()]} of {[todoList.todos.length]} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{[todo.done]}">{[todo.text]}</span>
        </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>


<footer>
    An tutorial project run by Igor Marfin</a>
</footer>


</body>
</html>

