<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <br>
    <br>


    <h2>Provide me City</h2>
    <input type="text" ng-model="city "  placeholder="Enter a city"  />
    <br>
    <br>
    <div ng-temperature ng-model="city" ng-bind="limit" ></div>

    <table ng-table="usersTable"  class="table table-striped">
        <tr ng-repeat="item in data">
            <td data-title="'Title'"  >
                {[item.title]}
            </td>
            <td data-title="'Latitude'" >
                {[item.lat]}
            </td>
            <td data-title="'Longitude'" >
                {[item.long]}
            </td>
            <td data-title="'Description'" ng-bind-html="item.description">
            </td>

        </tr>
    </table>

    <div ng-bind-html="message2 | sanitize"></div>

</div>