<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Tutorials on AngularJS: Bindings</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
    <script src="/static/angularjs/src/angular.min.js"></script>
</head>

<body>
<header>
    <span id="photon"> Tutorials on AngularJS: Bindings </span>
    <div id="slogan">check out AngularJS...</div>
</header>

<div ng-app>
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        {% raw %}
        <h1>Hello {{yourName}}!</h1>
        {% endraw %}
    </div>
</div>


<footer>
    An tutorial project run by Igor Marfin</a>
</footer>



</body>
</html>
